/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /*
        Purple: hsl(250, 66%, 75%)
        Blue: hsl(207, 90%, 72%)
        Pink: hsl(356, 66%, 75%)
        Teal: hsl(174, 63%, 62%)
  */
  --first-hue: 179;
  --sat: 100%;
  --lig: 35%;
  --second-hue: 219;
  --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--first-hue), var(--sat), 60%); /* -4% */
  --title-color: hsl(var(--second-hue), 15%, 95%);
  --text-color: hsl(var(--second-hue), 8%, 75%);
  --text-color-light: hsl(var(--second-hue), 4%, 55%);
  --body-color: hsl(var(--second-hue), 48%, 8%);
  --container-color: hsl(var(--second-hue), 32%, 12%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Source Code Pro', monospace;
  --biggest-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .625rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semibold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .4s; /* for light mode animation */
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/


/*========== Variables Dark theme ==========*/


/*========== 
    Color changes in some parts of 
    the website, in light theme
==========*/


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid {
  display: grid;
  gap: 1.25rem;
}

.main {
  overflow: hidden;
}

.section {
  padding: 6rem 0 1rem;
}

.section__title, 
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--first-color-alt);
  margin-bottom: 2rem;
}

.section__subtitle {
  display: block;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

/*=============== HEADER & NAV===============*/
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
}

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo{
  color: var(--first-color-alt);
  font-weight: var(--font-semibold);
  font-size: 1rem;
  transition: .4s;
}

.nav__logo:hover{
  color: var(--first-color);
}

.nav__menu{
  position: fixed;
  bottom: 1rem;
  background-color: hsla(var(--second-hue), 32%, 16%, .8);
  width: 90%;
  border-radius: 0.8rem;
  padding: 1rem 2.25rem;
  backdrop-filter: blur(5px);
}

.nav__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link{
  color: var(--text-color);
  font-size: 1.10rem;
  padding: .2rem;
  display: flex;
  border-radius: 0.3rem;
}

/* Active link */
.active-link{
  color: var(--first-color-alt);
  box-shadow: 0 0 20px hsla(var(--first-hue), var(--sat), var(--lig), .4);
}

/* Change background header */
.scroll-header{
  box-shadow: 0 1px 90px rgba(10, 10, 10, 0.3);
}

/*=============== HOME ===============*/
.home__container{
  position: relative;
  row-gap: 4.5rem;
  padding-top: 2rem;
}

.home__data{
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 2rem;
}

.home__greeting,
.home__education{
  
  font-weight: var(--font-semibold);
}

.home__greeting{
  font-size: 20px;
  display: block;
  color: var(--text-color);
  margin-bottom: .25rem;
}

.home__education{
  color: var(--text-color);
  margin-bottom: 2.5rem;
  font-size: var(--font-medium);
}

.home__name{
  font-size: 35px;
  color: var(--first-color-alt);
}

.home__img{
  width: 160px;
}



.home__buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.home__social{
  bottom: -5rem;
  left: 1rem;
  display: grid;
  row-gap: .6rem;
  position: absolute;
}

.home__social-link{
  width: max-content;
  background-color: var(--container-color);
  color: var(--first-color-alt);
  padding: .25rem;
  border-radius: .40rem;
  display: flex;
  font-size: 1.1rem;
  transition: .4s;
}

.home__social-link:hover{
  background-color: var(--first-color);
  color: #fff;
}

.home__social::after{
  content: '';
  width: 32px;
  height: 2px;
  background-color: var(--first-color-alt);
  transform: rotate(90deg) translate(16px, 3px);
  border-radius: .4rem;
}
/*=============== BUTTONS ===============*/
.button{
  display: inline-block;
  background-color: var(--first-color-alt);
  color: var(--body-color);
  padding: .75rem 1rem;
  border-radius: .5rem;
  font-weight: var(--font-semibold);
  transition: .4s;
}

.button:hover{
  background-color: var(--first-color);
  color: var(--body-color);
}

.button--ghost{
  background-color: transparent;
  border: 2px solid var(--first-color);
  color: var(--first-color-alt);
}

/*=============== ABOUT ===============*/
.about__container{
  row-gap: 2.5rem;
}

.about__img{
  width: 230px;
  border-radius: 1.0rem;
  justify-self: center;
}

.about__data{
  text-align: center;
}

.about__info{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .5rem;
  margin-bottom: 2rem;
}

.about__box{
  background-color: var(--container-color);
  border-radius: .75rem;
  padding: .75rem .5rem;
}

.about__icon{
  font-size: 1.7rem;
  color: var(--first-color-alt);
  margin-bottom: .5rem;
}

.about__title{
  font-size: var(--font-medium);
}

.about__subtitle{
  font-size: var(--tiny-font-size);
}

.about__description{
  margin-bottom: 2rem;
}

/*=============== SKILLS ===============*/
.skills__container{
  row-gap: 2rem;
  padding-top: 1rem;
}

.skills__content{
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: 1.0rem;
}

.skills__title{
  font-size: 1.2rem;
  font-weight: var(--font-semibold);
  color: var(--first-color-alt);
  text-align: center;
  margin-bottom: 1.8rem;
}

.skills__box{
  display: flex;
  justify-content: center;
  column-gap: 3rem;
}

.skills__group{
  display: grid;
  align-content: flex-start;
  row-gap: 2rem;
}

.skills__icon{
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  color: var(--first-color-alt);
}

.skills__name{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  line-height: 18px;
}

.skills__level{
  font-size: 0.9rem;
}
/*=============== SERVICES ===============*/
.services__container{
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding-top: 1rem;
}

.services__card{
  background-color: var(--container-color);
  padding: 3rem 1.5rem 1.5rem;
  border-radius: 1.0rem;
  border: 0.5px solid var(--first-color-alt);
}

.services__title{
  font-size: 1.1rem;
  margin-bottom: 2.5rem;
}

.services__button{
  color: var(--first-color-alt);
  font-size: var(--normal-font-size);
  display: flex;
  align-items: center;
  column-gap: .25rem;
  cursor: pointer;
}

.services__button:hover .services__icon{
  transform: translateX(.25rem);
}

.services__icon {
  transition: .4s;
  font-size: 1.1rem ;
  align-items: center;
}

/* Services modal */

.services__modal{
  position: fixed;
  inset: 0;
  background-color: hsla(var(--second-hue), 30%, 10%, .6);
  backdrop-filter: blur(1px);
  padding: 2rem 1rem;
  display: grid;
  place-items: center;
  visibility: hidden;
  opacity: 0;
  transition: .4s;
  z-index: var(--z-modal);
}

.services__modal-content{
  position: relative;
  background-color: var(--body-color);
  padding: 4.5rem 1.5rem 2.5rem;
  border-radius: 1.0rem;
}

.services__modal-title,
.services__modal-description{
  text-align: center;
}

.services__modal-title{
  color: var(--first-color-alt);
  margin-bottom: 1rem;
}

.services__modal-description{
  font-size: var(--small-font-size);
  margin-bottom: 2rem;
}

.services__modal-list{
  display: grid;
  row-gap: .80rem;
}

.services__modal-item{
  display: flex;
  align-items: flex-start;
  column-gap: .8rem;
}

.services__modal-icon{
  font-size: 1.5rem;
  color: var(--first-color-alt);
}

.services__modal-info{
  font-size: var(--small-font-size);
}

.services__modal-close{
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.8rem;
  color: var(--first-color-alt);
  cursor: pointer;
}

/*Active modal*/
.active-modal{
  opacity: 1;
  visibility: visible;
}

/*=============== WORK ===============*/
.work__container{
  padding-top: 1rem;
}

.work__filters{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.2rem;
  margin-bottom: 2rem;
}

.work__item{
  cursor: pointer;
  color: var(--title-color);
  padding: .25rem .75rem;
  font-weight: var(--font-medium);
  border-radius: .4rem;
}

.work__card{
  background-color: var(--container-color);
  padding: 1rem;
  border-radius: 1.0rem;
}

.work__img{
  border-radius: 0.6rem;
  margin-bottom: 1rem;
}

.work__title{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: .35rem;
}

.work__button{
  width: max-content;
  color: var(--first-color-alt);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  column-gap: .25rem;
}

.work__button:hover .work__icon{
  transform: translateX(.25rem);
}
.work__icon{
  font-size: 1rem;
  transition: .4s;
}
/* Active item work*/
.active-work{
  background-color: var(--first-color-alt);
  color: var(--body-color);
}

/*=============== TESTIMONIAL ===============*/


/* Swiper class */


/*=============== CONTACT ===============*/


/*=============== FOOTER ===============*/


/*=============== SCROLL BAR ===============*/


/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */
